{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <!-- ISI -->
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <img style="max-width: 640px" src="{% static 'images/kendala-sepulsa.jpg' %}" alt="kendala-sepulsa">
            </div>
        </div>
        <div class="row blog-row-1">
            <div class="col-md-6">
                <p>September 25, 2018</p>
            </div>
            <div class="col-md-6 text-right">
                <p>0 Comment</p>
            </div>
            <div class="col-md-12">
                <h2>Punya Kendala? Segera Hubungi<br> Customer Service Sepulsa!</h2>
                <p>Bagi Sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa mendengarkan keluhan maupun kendala yang kamu hadapi selama melakukan transaksi di Sepulsa. Umumnya pelanggan Sepulsa menghadapi kendala sebagai berikut: Status Order pending Jika transaksi pembayaran sudah selesai namun status order kamu masih pending dalam jangka waktu 15 menit, segera hubungi tim Customer Service dengan menyertakan email...</p>
                <p class="text-primary"><a href="#">Baca Selengkapnya</a></p>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-md-12">
                <img style="max-width: 640px" src="{% static 'images/sms.png' %}" alt="sms">
            </div>
        </div>
        <div class="row blog-row-1">
            <div class="col-md-6">
                <p>August 14, 2018</p>
            </div>
            <div class="col-md-6 text-right">
                <p>0 Comment</p>
            </div>
            <div class="cold-md-12">
                <h2>OTP, Si Kode Rahasia nan Berbahaya</h2>
                <p>Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan keuntungan bagi nasabah. Bayangkan saja, aktivitas jual beli yang pada awalnya membutuhkan waktu dan tempat, kini bisa dilakukan tanpa perlu beranjak dari tempat duduk kamu dan pembayaran lunas dalam hitungan detik dengan transaksi online. Namun tanpa disadari, kemudahan tersebut bukan berarti tanpa celah. Sebelum kita membahas lebih...</p>
                <p class="text-primary"><a href="#">Baca Selengkapnya</a></p>
            </div>
        </div>
        <hr width="680px">
    </div>
    <br><br>

{% endblock %}