{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <!-- ISI -->
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <a href="{% url 'input_post' %}" class="btn btn-primary btn-lg">Create New Post</a>
            </div>
        </div>
        <br><br>
        {% for blog_post in blog_posts %}
        <div class="row text-center">
            <div class="col-md-12">
                <img style="width: 640px" src="{{blog_post.picture}}" alt="kendala-sepulsa">
            </div>
        </div>
        <div class="row blog-row-1">
            <div class="col-md-6">
                <p>{{blog_post.created_date}}</p>
            </div>
            <div class="col-md-6 text-right">
                <p>{{blog_post.comment_count}} comment</p>
            </div>
            <div class="col-md-12">
                <h2>{{blog_post.title}}</h2>
                <p>{{blog_post.content|truncatewords:70}}</p>
                <p class="text-primary"><a href="{% url 'post_detail' post_id=blog_post.id %}">Baca Selengkapnya</a></p>
            </div>
        </div>
        {% endfor %}
        <hr width="680px">
    </div>
    <br><br>

{% endblock %}